---
name: Continuous Deployment

on:
    push:
        # Run workflow every time something is pushed to the main or master branch
        branches:
            - main
            - master
    # allow manual triggers
    workflow_dispatch:

# Remember to set the following secrets in your repository's settings:
# https://github.com/your_username/itu-minitwit-ci/settings/secrets/actions
# SSH_USER
# SSH_KEY
# SSH_HOST

jobs:
    build:
        runs-on: ubuntu-latest

        # Required to allow the built-in GITHUB_TOKEN to push to GHCR
        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4 # Bumped to v4 to avoid Node 12 deprecation warnings

            - name: Set lowercase owner name
              run: |
                echo "OWNER_LC=${OWNER,,}" >> ${GITHUB_ENV}
              env:
                OWNER: '${{ github.repository_owner }}'

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push minitwitimage
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ./Dockerfile-minitwit
                  push: true
                  tags: ghcr.io/${{ env.OWNER_LC }}/minitwitimage:latest
                  labels: org.opencontainers.image.source=https://github.com/${{ github.repository }}
                  cache-from: type=registry,ref=ghcr.io/${{ env.OWNER_LC }}/minitwitimage:webbuildcache
                  cache-to: type=registry,ref=ghcr.io/${{ env.OWNER_LC }}/minitwitimage:webbuildcache,mode=max

            - name: Build and push mysqlimage
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ./Dockerfile-mysql
                  push: true
                  tags: ghcr.io/${{ env.OWNER_LC }}/mysqlimage:latest
                  labels: org.opencontainers.image.source=https://github.com/${{ github.repository }}
                  cache-from: type=registry,ref=ghcr.io/${{ env.OWNER_LC }}/mysqlimage:mysqlbuildcache
                  cache-to: type=registry,ref=ghcr.io/${{ env.OWNER_LC }}/mysqlimage:mysqlbuildcache,mode=max

            - name: Build and push flagtoolimage
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ./Dockerfile-flagtool
                  push: true
                  tags: ghcr.io/${{ env.OWNER_LC }}/flagtoolimage:latest
                  labels: org.opencontainers.image.source=https://github.com/${{ github.repository }}
                  cache-from: type=registry,ref=ghcr.io/${{ env.OWNER_LC }}/flagtoolimage:flagtoolbuildcache
                  cache-to: type=registry,ref=ghcr.io/${{ env.OWNER_LC }}/flagtoolimage:flagtoolbuildcache,mode=max

            - name: Test minitwit
              run: |
                  docker build -t ghcr.io/$GITHUB_USERNAME/minitwittestimage -f Dockerfile-minitwit-tests .
                  yes 2>/dev/null | docker compose up -d
                  docker run --rm --network=itu-minitwit-network ghcr.io/$GITHUB_USERNAME/minitwittestimage
              env:
                  GITHUB_USERNAME: ${{ env.OWNER_LC }}

            - name: Configure SSH
              run: |
                  mkdir -p ~/.ssh/
                  echo "$SSH_KEY" > ~/.ssh/do_ssh_key
                  chmod 600 ~/.ssh/do_ssh_key
              env:
                  SSH_KEY: ${{ secrets.SSH_KEY }}

            - name: Deploy to server
              # SSH into the server, log it into GHCR, and trigger deploy.sh
              run: >
                  ssh $SSH_USER@$SSH_HOST
                  -i ~/.ssh/do_ssh_key -o StrictHostKeyChecking=no
                  "echo $GITHUB_TOKEN | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin && /minitwit/deploy.sh"
              env:
                  SSH_USER: ${{ secrets.SSH_USER }}
                  SSH_HOST: ${{ secrets.SSH_HOST }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  GITHUB_ACTOR: ${{ github.actor }}
